<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>ReservITA</title>
    <style>
    .column {
    float: left;
    width: 60%;
    padding: 5px;
    }
</style>
    <style>
    .column2 {
    float: left;
    width: 30%;
    padding: 5px;
    }
</style>
    <style>
    .row::after{
    content: "";
    clear: both;
    display: table;
    }
</style>
</head>
<body>
   <center><img src="static/img/ReservITA.png" alt="Logo ReservITA"></center>
    {% for key,value in form_data.items() %}
    <center><h1> {{value}}</h1></center>
    {% endfor %}
   <div class="row">
       <div class="column"><img src="static/img/H8.png" alt="Mapa H8"> </div>
       <div class="column2"><form action="data2" method = "POST">
<div>
    <p>Escolha uma data</p>
    <p><input type="radio" name="pergunta" value="A - Churrasqueira">Churrasqueira</p>
    <p><input type="radio" name="pergunta" value="B - Sala de Jogos">Sala de Jogos</p>
    <p><input type="radio" name="pergunta" value="C - Cineclube">Cineclube</p>
    <p><input type="radio" name="pergunta" value="D - Sala Precisa">Sala Precisa</p>
    <p><input type="radio" name="pergunta" value="E - Sala de Música">Sala de Música</p>
    <p><input type="radio" name="pergunta" value="F - Sala de Piano">Sala de Piano</p>

    <left><p><input type = "submit" value = "Avançar" /></p></left>
</form>
</div>
       </div>
       </div>
       <div class="row">
           <div class="column"><img src="static/img/ita-logo.png" alt="Logo ITA" width="175" height="67"> </div>
       </div>


   </div>


</body>