<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>ReservITA</title>
    <style>
    .column {
    float: left;
    width: 60%;
    padding: 5px;
    }
</style>
    <style>
    .column2 {
    float: left;
    width: 30%;
    padding: 5px;
    }
</style>
    <style>
    .row::after{
    content: "";
    clear: both;
    display: table;
    }
</style>
</head>
<body>
   <center><img src="static/img/ReservITA.png" alt="Logo ReservITA"></center>
   <p><center><h1> {{chosen_date}} </h1> </center></p>

   <div class="row">
       {% if room == "A - Churrasqueira"%}
       <div class="column"><img src="static/img/churrasqueira.png" alt="churrasqueira"> </div>
       {% endif %}
       {% if room == "B - Sala de Jogos"%}
       <div class="column"><img src="static/img/saladejogos.png" alt="saladejogos"> </div>
       {% endif %}
       {% if room == "C - Cineclube"%}
       <div class="column"><img src="static/img/cineclube.png" alt="cineclube"> </div>
       {% endif %}
       {% if room == "D - Sala Precisa"%}
       <div class="column"><img src="static/img/salaprecisa.png" alt="salaprecisa"> </div>
       {% endif %}
       {% if room == "E - Sala de Música"%}
       <div class="column"><img src="static/img/salademusica.png" alt="salademusica"> </div>
       {% endif %}
       {% if room == "F - Sala de Piano"%}
       <div class="column"><img src="static/img/saladepiano.png" alt="saladepiano"> </div>
       {% endif %}
       <div class="column2"><form action="select_time" method = "POST">
<div>
    <p><strong>Horários</strong></p>
           <p><input type="checkbox" name="pergunta" value="00:00 - 00:30">00:00 - 00:30</p>
           <p><input type="checkbox" name="pergunta" value="00:30 - 01:00">00:30 - 01:00</p>
           <p><input type="checkbox" name="pergunta" value="01:00 - 01:30">01:00 - 01:30</p>
           <p><input type="checkbox" name="pergunta" value="01:30 - 02:00">01:30 - 02:00</p>
           <p><input type="checkbox" name="pergunta" value="02:00 - 02:30">02:00 - 02:30</p>
           <p><input type="checkbox" name="pergunta" value="02:30 - 03:00">02:30 - 03:00</p>
           <left><p><input type = "submit" value = "Avançar" /></p></left>
</form>
</div>
       </div>
       </div>
       <div class="row">
           <div class="column"><img src="static/img/ita-logo.png" alt="Logo ITA" width="175" height="67"> </div>
       </div>


   </div>


</body>