<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>ReservITA</title>
    <style>
    .column {
    float: left;
    width: 60%;
    padding: 5px;
    }
</style>
    <style>
    .column2 {
    float: left;
    width: 30%;
    padding: 5px;
    }
</style>
    <style>
    .row::after{
    content: "";
    clear: both;
    display: table;
    }
</style>
</head>
<body>
   <center><img src="static/img/ReservITA.png" alt="Logo ReservITA"></center>
    {% for key,value in form_data.items() %}
    <center><h1> {{value}}</h1></center>
    {% endfor %}
   <div class="row">
       <div class="column"><img src="static/img/H8.png" alt="Mapa H8"> </div>
       <div class="column2"><form action="select_time" method = "POST">
<div>
    <p><strong>Escolha uma data</strong></p>
    <p><div id = "today"> <input type="radio" name="pergunta" value= "today">
    <script>
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("today").innerHTML += day + "/" + month + "/" + year;
    </script></div>

    <p><div id = "offset1"><input type="radio" name="pergunta" value="1">
    <script>
        date = new Date();
        date.setDate(date.getDate()+1);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("offset1").innerHTML += day + "/" + month + "/" + year;
    </script></div></p>
    <p><div id = "offset2"><input type="radio" name="pergunta" value="2">
    <script>
        date = new Date();
        date.setDate(date.getDate()+2);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("offset2").innerHTML += day + "/" + month + "/" + year;
    </script></div></p>
    <p><div id = "offset3"><input type="radio" name="pergunta" value="3">
    <script>
        date = new Date();
        date.setDate(date.getDate()+3);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("offset3").innerHTML += day + "/" + month + "/" + year;
    </script></div></p>
    <p><div id = "offset4"><input type="radio" name="pergunta" value="4">
    <script>
        date = new Date();
        date.setDate(date.getDate()+4);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("offset4").innerHTML += day + "/" + month + "/" + year;
    </script></div></p>
    <p><div id = "offset5"><input type="radio" name="pergunta" value="5">
    <script>
        date = new Date();
        date.setDate(date.getDate()+5);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("offset5").innerHTML += day + "/" + month + "/" + year;
    </script></div></p>
    <p><div id = "offset6"><input type="radio" name="pergunta" value="6">
    <script>
        date = new Date();
        date.setDate(date.getDate()+6);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("offset6").innerHTML += day + "/" + month + "/" + year;
    </script></div></p>

    <left><p><input type = "submit" value = "Avançar" /></p></left>
</form>
</div>
       </div>
       </div>
       <div class="row">
           <div class="column"><img src="static/img/ita-logo.png" alt="Logo ITA" width="175" height="67"> </div>
       </div>


   </div>


</body>