<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>ReservITA</title>
    <style>
    .column {
    float: left;
    width: 60%;
    padding: 5px;
    }
</style>
    <style>
    .column2 {
    float: left;
    width: 30%;
    padding: 5px;
    }
</style>
    <style>
    .row::after{
    content: "";
    clear: both;
    display: table;
    }
</style>
</head>
<body>
   <center><img src="static/img/ReservITA.png" alt="Logo ReservITA"></center>
    {% for key,value in form_data.items() %}
    {% if value == "today" %}
    <p><center><h1><div id = "today">{{room}}
    <script>
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("today").innerHTML +=  ": " + day + "/" + month + "/" + year;
    </script></div><h1></h1></center></p>
     {%endif %}

       {%if value == "1" %}
       <p><center><h1><div id = "1">{{room}}
    <script>
        date = new Date();
        date.setDate(date.getDate()+1);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("1").innerHTML += ": " + day + "/" + month + "/" + year;
    </script></div><h1></h1></center></p>
       {%endif%}

           {%if value == "2" %}
       <p><center><h1><div id = "2">{{room}}
    <script>
        date = new Date();
        date.setDate(date.getDate()+2);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("2").innerHTML += ": " + day + "/" + month + "/" + year;
    </script></div><h1></h1></center></p>
       {%endif%}

               {%if value == "3" %}
       <p><center><h1><div id = "3">{{room}}
    <script>
        date = new Date();
        date.setDate(date.getDate()+3);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("3").innerHTML += ": " + day + "/" + month + "/" + year;
    </script></div><h1></h1></center></p>
       {%endif%}

           {%if value == "4" %}
       <p><center><h1><div id = "4">{{room}}
    <script>
        date = new Date();
        date.setDate(date.getDate()+4);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("4").innerHTML += ": " + day + "/" + month + "/" + year;
    </script></div><h1></h1></center></p>
       {%endif%}

           {%if value == "5" %}
       <p><center><h1><div id = "5">{{room}}
    <script>
        date = new Date();
        date.setDate(date.getDate()+5);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("5").innerHTML += ": " + day + "/" + month + "/" + year;
    </script></div><h1></h1></center></p>
       {%endif%}


           {%if value == "6" %}
       <p><center><h1><div id = "6">{{room}}
    <script>
        date = new Date();
        date.setDate(date.getDate()+6);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("6").innerHTML += ": " + day + "/" + month + "/" + year;
    </script></div><h1></h1></center></p>
       {%endif%}
    {% endfor %}
   <div class="row">
       <div class="column"><img src="static/img/H8.png" alt="Mapa H8"> </div>
       <div class="column2"><form action="select_time" method = "POST">
<div>
    <p><strong>Horários</strong></p>
           <p><input type="radio" name="pergunta" value="00:00 - 00:30">00:00 - 00:30</p>
           <p><input type="radio" name="pergunta" value="00:30 - 01:00">00:30 - 01:00</p>
           <p><input type="radio" name="pergunta" value="01:00 - 01:30">01:00 - 01:30</p>
           <p><input type="radio" name="pergunta" value="01:30 - 02:00">01:30 - 02:00</p>
           <p><input type="radio" name="pergunta" value="02:00 - 02:30">02:00 - 02:30</p>
           <p><input type="radio" name="pergunta" value="02:30 - 03:00">02:30 - 03:00</p>
           <left><p><input type = "submit" value = "Avançar" /></p></left>
</form>
</div>
       </div>
       </div>
       <div class="row">
           <div class="column"><img src="static/img/ita-logo.png" alt="Logo ITA" width="175" height="67"> </div>
       </div>


   </div>


</body>