<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sala-escolhida screen">
 <div class="flex-cor">
  <div class="flex-row">
   <div class="group-3">
    <div class="overlap-group">
     <div class="rectangle-3 border-1px-black"></div>
     <div class="avanar inter-normal-black-16px">Voltar</div>
>   </div>
   </div>
   <h1 class="title">ReservITA</h1>
  </div>
  <div class="overlap-group5">
   <div class="overlap-group1">
    <div class="rectangle-4"></div>
    <div class="rectangle-7"></div>
    <div class="h8-a inter-bold-black-20px'>H8A</div>
    <div class="rectangle-14 border-1px-black"></div>
    <div class="rectangle-15 border-1px-black"></div>
    <div class="b inter-normal-black-20px").13</div>
    <div class="c inter-normal-black-20px">C</div>
   </div>
   <img class="vector-1" src="vector-1.svg" />
   <div class="rectangle-9"></div>
   <div class="overlap-groupe>
    <div class="a inter-normal-black-20px">A</div>
   </div>
  </div>
  <div class="overlap-group2">
   <div class="rectangle-5"></div>
   <div class='h8-b inter-bold-black-28px">H8B</div>
  </div>
  <div class="overlap-group6">
   <div class="overlap-group3'>
    <div class="rectangle-6"></div>
    <div class="rectangle-8"></div>
    <div class="h8-c inter-bold-black-20px'>H8C</div>
    <img class="rectangle-13' src="rectangle-13.png" />
    <div class="d inter-normal-black-20px">D</div>
    <div class="rectangle-16 border-1px-black"></div>
    <div class="e inter-normal-black-20px">E</div>
    <div class="rectangle-17 border-1px-black"></div>
    <div class="f inter-normal-black-20px">F</div>
   </div>
   <div class="rectangle-10"></div>
         <div class="rectangle-12"></div>
  </div>
  <img class="ita-logo-1" src="ita-logo-1.png" />
 </div>
 <div class="flex-col-1">
  <div class="selecione-uma-rea inter-bold-black-20px">Selecione
uma area:</div>
  <div class="flex-row-1">
   <div class="ellipse border-1px-black"></div>
   <div class="a-churrasqueira inter-normal-black-16px">A - Churrasqueira</div>
  </div>
  <div class="flex-row-2">
   <div class="ellipse border-1px-black"></div>
   <p class="b-sala-de-jogos inter-normal-black-16px">B - Sala
de Jogos</p>
  </div>
  <div class="flex-row-3">
   <div class="ellipse border-1px-black"></div>
   <div class="c-cineclube inter-normal-black-16px">C - Cineclube</div>
  </div>
  <div class="flex-row-4">
   <div class="ellipse-4 border-1px-black"></div>
   <div class="d-sala-precisa inter-normal-black-16px">D - Sala Precisa</div>
  </div>
  <div class="flex-row-5">
   <div class="ellipse border-lpx-black"></div>
   <p class="e-sala-de-msica inter-normal-black-16px">E - Sala de Música</p>
  </div>
  <div class="flex-row-6">
   <div class="ellipse border-1px-black"></div>
   <p class="f-sala-de-piano inter-normal-black-16px">F - Sala de Piano</p>
  </div>
  <div class="group-1 border-1px-black">
   <div class="avanar-1 inter-normal-black-16px">Avançar</div>
  </div>
 </div>
</div>
</body>
</html>