<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>ReservITA</title>
</head>
<body>
   <center><img src="static/img/ReservITA.png" alt="Logo ReservITA"></center>
</body>
</html>
<form action="data" method = "POST">
    <center><p>Nome <input type = "text" name = "username" /></p></center>
    <center><p>Senha <input type = "password" name = "password" /></p></center>
    <center><p><input type = "submit" value = "Avançar" /></p></center>
</form>
<html lang="pt">
<body>
   <center><img src="static/img/ita-logo.png" alt="Logo ITA" width="350" height="133"></center>
</body>
</html>
