<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>ReservITA</title>
    <style>
    .column {
    float: left;
    width: 60%;
    padding: 5px;
    }
</style>
    <style>
    .column2 {
    float: left;
    width: 30%;
    padding: 5px;
    }
</style>
    <style>
    .row::after{
    content: "";
    clear: both;
    display: table;
    }
</style>
</head>
<body>
   <center><img src="static/img/reserva_concluida.png" alt="reserva_concluida">
       <form action="/" method = "POST">
    <p><input type = "submit" value = "Retornar" /></p></center>

</form>

       <div class="row">
           <div class="column"><img src="static/img/ita-logo.png" alt="Logo ITA" width="175" height="67"> </div>
       </div>


</body>